.section-5{
    padding: 50px 0px ;
    .card{
        &:hover {
            transform: translateY(-4px);
        }
       
    }
   .icon_div{
       display: flex;
       justify-content: flex-end;
       a{
           text-decoration: none;
           color: black;
           width: 40px;   
           height: 40px;
           display: flex !important;
           align-items: center;
           justify-content: center;
           border-radius: 100%;
           box-shadow: 3px 3px 3px 3px rgba(184, 184, 184, 0.3);
           &:hover{
               background-color: #44D2A8;
               color: white;
               transition: all 0.4s ease;
           }
           i{
            text-align: center;
            position: relative;
            left: 2px;
           }
       }
   }
}