header {
    padding: 25px 0;
    border-bottom: 1px solid #e0dfdf;

    .header-content {
        .container {
            display: flex;
            align-items: center;
            width: 100%;

            .logo {
                width: 200px;
                width: 20%;
                // a {
                //     // margin: 10px 0px;
                // }
            }

            .search-holder {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 0px 10px;

                .contact {
                    display: flex;
                    align-items: center;
                    height: 20px;
                    width: 100%;

                    i {
                        margin-right: 6px;
                        color: #59B210;
                        font-size: 20px;
                        position: relative;
                        top: 3px;
                    }

                    span {
                        font-size: 13px;
                        color: #3d3d3d;
                    }

                    .phone {
                        margin-right: 10px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                    }
                }

                .search-bar {
                    margin-top: 10px;
                    width: 100%;

                    form {
                        display: flex;
                        width: 100%;

                        .search-input {
                            width: 60%;
                            height: 40px;
                            border: 3px solid #c6c6c6;
                            border-radius: 7px;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                            border-right: 1px;
                            padding: 13px;
                            font-size: 12px;

                            &::placeholder {
                                font-size: 12px;
                                color: gray;

                            }

                            &:focus {
                                outline: none;
                            }
                        }

                        div.select {
                            width: 30%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            padding: 0px 15px;
                            border-radius: 7px;
                            border: 3px solid #c6c6c6;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                            border-left: 1px solid #c6c6c6;

                            select {
                                width: 100%;
                                border: transparent;
                                color: gray;
                                font-size: 12px;
                                border: none;
                                outline: none;
                            }
                        }

                        button {
                            width: 10%;
                            border: none;
                            padding: 13px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 7px;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                            background-color: #59B210;
                            color: white;
                            position: relative;
                            right: 6px;
                            border: 3px solid transparent;

                            &:hover {
                                background-color: rgb(122, 122, 122);
                                transition: all 0.3s ease;
                            }
                        }
                    }

                }


            }


        }

    }
}

.cart {
    width: 30%;
    padding: 35px 21px 0 21px;
    display: flex;

    .col1 {
       
        div {
            margin-right: 0px;
            cursor: pointer;
        &:hover {
            color: #59B210;
            transition: all 0.4s ease;
            i{
                color: #59B210;
                transition: all 0.4s ease;
            }
        }
            i {
                font-size: 14px;
                color: rgb(155, 153, 153);
                margin-right: 6px;
                cursor: pointer;
               
            }

            span {
                font-size: 14px;
            }
        }
    }

    .col2 {
        display: flex;
        cursor: pointer;
        
        .total-price-basket {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            cursor: pointer;
            span {
                margin-bottom: 5px;
            }

            bdi {
                color: #59B210;
                font-weight: 500;
                font-size: 16px;
            }
        }

        div.img {
            position: relative;
            margin-right: 8px;

            img {
                width: 50px;
                height: 50px;
            }

            span {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #59B210;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 12px;
                position: absolute;
                left: 40%;
                top: 20%;
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    header {
        .header-content {
            .container {
                width: 100%;
                margin-left: auto !important;
                margin-right: auto !important;

                .logo {
                    width: 25% !important;

                }

                .search-holder {
                    width: 50% !important;
                    padding: 0px 5px !important;
                }

                .cart {
                    width: 25% !important;
                    padding:  0 0  !important;
                    display: flex !important;
                    align-items: flex-end !important;

                    .col1 {
                        
                        div {
                            i {
                                font-size: 14px;
                                color: rgb(155, 153, 153);
                                margin-right: 6px;
                            }
                
                            span {
                                font-size: 14px;
                            }
                        }
                    }

                    .col2 {
                        div.img {
                            display: flex !important;
                            align-items: flex-end !important;
                            span {
                                position:absolute;
                                top: 20px;
                            }
                        }
                        .total-price-basket {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end !important;
                            font-size: 14px;
                
                            span {
                                margin-bottom: 0px !important;
                            }
                
                            bdi {
                                color: #59B210;
                                font-weight: 500;
                                font-size: 16px;
                            }
                        }
                    }

                    .col {

                        div {
                            i {
                                font-size: 12px !important;
                                color: rgb(155, 153, 153);
                                margin-right: 0px !important;
                            }

                            span {
                                font-size: 11px !important;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) { 
    header {
        .header-content {
            .container {
                width: 100%;
                // margin: 0px 55px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                .logo {
                    display: block;

                }

                .search-holder {
                    display: none;
                }

                .cart {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) { 
    header {
        .header-content {
            .container {
                width: 100%;
                margin: 0 !important;
                // margin: 0px 55px !important;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                .logo {
                    width: 100% !important;
                    text-align: center;
                }

                .search-holder {
                    display: none;
                }

                .cart {
                    display: none;
                }
            }
        }
    }
}