.blog_area {
    padding: 0 0 100px;

    .row {
        .section__title-wrapper {
            margin-bottom: 55px;

            .section__title {
              
                width: 100%;
                height: 30px;
                margin-bottom: 25px;

                hr {
                    width: 35%;
                    color: rgb(90, 88, 88);
                }

                h2 {
                    font-size: 36px;
                    color: rgb(49, 48, 48);
                }
            }

            .section__sub-title {
                p {
                    color: rgb(131, 126, 126);
                    font-size: 14px;
                }
            }
        }
    }

    .row {
        .owl-slider {
            display: flex;
            div.img {
                margin-bottom: 20px;
                width: 100%;
                height: 225px;
                max-width: 350px;
                overflow: hidden;
                cursor: pointer;
                img{
                    max-width: 345px;
                    width: 100%;
                    -webkit-transition: 0.7s ease;
                    transition: 0.7s ease;
                    
                }
                &:hover img {
                    -webkit-transform: scale(1.15);
                    transform: scale(1.15);
                    
                }
            }
            .owl-item {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .blog-content {
                    display: flex;
                    flex-direction: column;

                    h4 {
                        a {
                            text-decoration: none;
                            color: #201F1F;
                            font-size: 20px;
                            transition: all 0.5s ease;

                            &:hover {
                                color: #bc8246;
                            }
                        }
                    }

                    .blog__meta {
                        margin: 0 0 13px;

                        span {
                            color: #848B8A;
                            font-size: 14px;

                            a {
                                text-decoration: none;
                                color: #bc8246;
                                font-size: 14px;
                            }
                        }
                    }

                    p {
                        color: #606060;
                        font-size: 14px;
                        margin: 0 0 15px;
                    }

                    .os-btn {
                        width: 50%;
                        position: relative;
                        display: inline-block;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: 600;
                        height: 50px;
                        line-height: 46px;
                        padding: 0 42px;
                        border: 2px solid #ebebeb;
                        color: #6e6b6b;
                        background: transparent;
                        z-index: 1;
                        font-size: 12px;
                        text-decoration: none;
                        transition: all 0.8s;
                    

                        &:hover {
                            background-color: #BC8246;
                            color: white;
                            border:#BC8246 ;
                            transition: 0.2s 0.1s;
                           
                        }
                        
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .blog_area {
        .row {
            .section__title-wrapper {
                margin-bottom: 55px;
    
                .section__title {
                  
                    width: 100%;
                    height: 30px;
                    margin-bottom: 25px;
    
                    hr {
                        width: 28%;
                        color: rgb(90, 88, 88);
                    }
    
                    h2 {
                        font-size: 36px;
                        color: rgb(49, 48, 48);
                    }
                }
    
                .section__sub-title {
                    p {
                        color: rgb(131, 126, 126);
                        font-size: 14px;
                    }
                }
            }
        }
        .row {
            .owl-slider {
                .cloned{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .blog_area {
        .row {
            .owl-slider {
                .cloned{
                    
                    display: none;
                }
            }
        }
    }
}